header {
    text-align: center;
}

#new {
    border: 2px solid red;
    text-align: center;
    width: 80%;
    height: 200px;
}

#note, #deleteSaved {
    position: relative;
    margin-right: 0;

}

#container {

}

#imgLink {
    float: left;
}

#title {

}

#buttons {

}

#